@import "./App.css";

.admin__formula__parent {
  overflow: hidden;
  width: 100%;
  min-height: auto;
}

.admin__formula__parent .admin__formula__secondary {
  overflow: inherit;
  min-height: inherit;
}

.admin__formula__parent .admin__formula__secondary .admin__formula__child {
  min-height: inherit;
  overflow: inherit;
}

.admin__formula__parent
  .admin__formula__secondary
  .admin__formula__child
  .admin__formula__content {
  padding: 2rem;
  text-align: center;
  overflow: hidden;
}

.admin__formula__parent
  .admin__formula__secondary
  .admin__formula__child
  .admin__formula__content
  h3 {
  font-size: var(--major-font);
  font-weight: var(--font-weight);
  color: var(--gray);
}

.admin__formula__parent
  .admin__formula__secondary
  .admin__formula__child
  .admin__formula__box {
  overflow: hidden;
  display: flex;
  padding: 4rem;
  width: 100%;
  min-height: auto;
  gap: 2rem;
  flex-wrap: wrap;
  padding-top: 0;
  justify-content: flex-end;
}

.hUmWQV {
  background-color: var(--blue) !important;
  color: var(--white) !important;
  font-size: 1rem !important;
}

@media screen and (max-width: 476px) {
  .admin__formula__parent
    .admin__formula__secondary
    .admin__formula__child
    .admin__formula__box {
    padding: 2rem;
    padding-top: 0;
  }
}

@media screen and (min-width: 476px) and (max-width: 768px) {
  .admin__formula__parent
    .admin__formula__secondary
    .admin__formula__child
    .admin__formula__box {
    padding: 2rem;
    padding-top: 0;
  }
}
