@import "./App.css";

.admin__raw__parent {
  overflow: hidden;
  width: 100%;
  min-height: auto;
}

.admin__raw__parent .admin__raw__secondary {
  overflow: inherit;
  min-height: inherit;
}

.admin__raw__parent .admin__raw__secondary .admin__raw__child {
  min-height: inherit;
  overflow: inherit;
}

.admin__raw__parent
  .admin__raw__secondary
  .admin__raw__child
  .admin__raw__content {
  padding: 2rem;
  text-align: center;
  overflow: hidden;
}

.admin__raw__parent
  .admin__raw__secondary
  .admin__raw__child
  .admin__raw__content
  h3 {
  font-size: var(--major-font);
  font-weight: var(--font-weight);
  color: var(--gray);
}

.admin__raw__parent .admin__raw__secondary .admin__raw__child .admin__raw__box {
  overflow: hidden;
  display: flex;
  padding: 4rem;
  width: 100%;
  min-height: auto;
  gap: 2rem;
  flex-wrap: wrap;
  padding-top: 0;
  justify-content: flex-end;
}

.hUmWQV {
  background-color: var(--blue) !important;
  color: var(--white) !important;
  font-size: 1rem !important;
}

.admin__raw__parent .admin__raw__secondary .admin__raw__child .admin__btn__box {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 4rem;
}

.admin__raw__parent
  .admin__raw__secondary
  .admin__raw__child
  .admin__btn__box
  button {
  height: 3rem;
  width: 3rem;
}

.ant-btn-icon {
  margin: 0 !important;
  width: 100%;
  height: 100%;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  overflow: hidden;
  font-size: 1.5rem;
}

@media screen and (max-width: 476px) {
  .admin__raw__parent
    .admin__raw__secondary
    .admin__raw__child
    .admin__raw__box {
    padding: 2rem;
    padding-top: 0;
  }

  .admin__raw__parent
    .admin__raw__secondary
    .admin__raw__child
    .admin__btn__box {
    padding: 2rem;
  }
}

@media screen and (min-width: 476px) and (max-width: 768px) {
  .admin__raw__parent
    .admin__raw__secondary
    .admin__raw__child
    .admin__raw__box {
    padding: 2rem;
    padding-top: 0;
  }

  .admin__raw__parent
    .admin__raw__secondary
    .admin__raw__child
    .admin__btn__box {
    padding: 2rem;
  }
}
