.admin__sales__export {
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  column-gap: 0.5rem;
}

.admin__sales__export span {
  font-weight: 500;
}

.admin__sales_actions {
  display: flex;
  justify-content: center;
  column-gap: 0.5rem;
  overflow: hidden;
}
.admin__sales_actions .ant-btn {
  font-weight: 500 !important;
  background-color: red !important;
}
