@import "./App.css";

.admin__exp__parent {
  overflow: hidden;
  width: 100%;
  min-height: auto;
}

.admin__exp__parent .admin__exp__secondary {
  overflow: inherit;
  min-height: inherit;
}

.admin__exp__parent .admin__exp__secondary .admin__exp__child {
  min-height: inherit;
  overflow: inherit;
}

.admin__exp__parent
  .admin__exp__secondary
  .admin__exp__child
  .admin__exp__content {
  padding: 2rem;
  text-align: center;
  overflow: hidden;
}

.admin__exp__parent
  .admin__exp__secondary
  .admin__exp__child
  .admin__exp__content
  h3 {
  font-size: var(--major-font);
  font-weight: var(--font-weight);
  color: var(--gray);
}

.admin__exp__parent .admin__exp__secondary .admin__exp__child .admin__exp__box {
  overflow: hidden;
  display: flex;
  padding: 4rem;
  width: 100%;
  min-height: auto;
  gap: 2rem;
  flex-wrap: wrap;
  padding-top: 0;
  justify-content: flex-end;
}

.hUmWQV {
  background-color: var(--blue) !important;
  color: var(--white) !important;
  font-size: 1rem !important;
}

@media screen and (max-width: 476px) {
  .admin__exp__parent
    .admin__exp__secondary
    .admin__exp__child
    .admin__exp__content
    .exp {
    font-size: 2rem;
  }
}
