.users_actions {
  display: flex;
  justify-content: center;
  column-gap: 0.5rem;
  overflow: hidden;
}

.users_actions .users__btn {
  font-weight: 500;
  background-color: red;
}

@media screen and (max-width: 476px) {
  .users_actions {
    flex-direction: column !important;
    padding: 0.5rem;
    row-gap: 0.5rem;
  }

  .users_actions a button {
    width: 100%;
  }
}

@media screen and (min-width: 476px) and (max-width: 768px) {
  .users_actions {
    flex-direction: column !important;
    padding: 0.5rem;
    row-gap: 0.5rem;
  }

  .users_actions a button {
    width: 100%;
  }
}
